<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Sign In</h4>
                <button type="button" class="btn" data-dismiss="modal"><i class="far fa-window-close"></i></button>
            </div>

            <div class="modal-body">
                <form>
                    <label class="sr-only" for="usrname">Username</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <label class="sr-only" for="Password">Name</label>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-key"></i></span>
                        <input id="Password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>

        </div>
    </div>
</div>