@model DryPro.Inventory.Management.UI.Models.InventoryCreateViewModel

@{
    ViewData["Title"] = "Create";
}


<partial name="_ProductCreate" for="@Model" />
<div id="divPartial">
    <partial name="_AuxItemCreate" for="@Model.AuxItemCreateViewModel" />
</div>

@section Scripts {
<script type="text/javascript">
    var _auxilliaryItems;

    var OpenAddAuxItemDialog = function (auxilliaryItems) {
        InitCreateAuxItem(auxilliaryItems);
        $("#add-auxItem").modal('show');
    }

    var InitCreateAuxItem = function (auxilliaryItems) {
        _auxilliaryItems = auxilliaryItems;
    }

    var AddAuxItem = function () {
        var name = $("#auxItemName").val();
        var cost = $("#auxItemCost").val();
        var desc = $("#auxItemDesc").val();
        $.ajax({
            url: '@Url.Action("Create", "AuxItem")',
            type: 'POST',
            cache: false,
            data: { auxItems: _auxilliaryItems, name: name, cost: cost, description: desc },
            success: function (results) {
                $("#add-auxItem").modal('hide');
                $('#divPartial').html(results);
                $('#divPartial').show();
                document.location.reload(true);
            }
        });
    }
</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
