<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DryPro.Inventory.Management.UI</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arsenal:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link type="text/css" href="~/css/argon.css" rel="stylesheet" asp-append-version="true">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <partial name="_NavBar" />
    </header>

    <partial name="_SignIn" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - DryPro.Inventory.Management.UI
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(window).scroll(function () {
                if ($(document).scrollTop() > 150) {
                    // Navigation Bar
                    $('.navbar').removeClass('fadeIn');
                    $('body').addClass('shrink');
                    $('.navbar').addClass('animated fadeInDown');
                } else {
                    $('.navbar').removeClass('fadeInDown');
                    $('body').removeClass('shrink');
                    $('.navbar').addClass('animated fadeIn');
                }
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
